html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #00bbbb;   
    min-height: 100%;
}

.toggle_button {
    background-color: white;
    color: black;
    font-size: 1.5em;
    text-align: center;
    padding: 4px 32px;
    text-decoration: none;
    border: black solid 1px;
    border-radius: 10px;
    box-shadow: black 1px 1px 10px;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 auto;
}

div.main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.flightData {
    margin: 16px auto 16px auto;
    min-width: 1200px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
}

.flightHeader {
    text-align: center;
    font-size: 36px;
    flex-basis: 32px;
    font-weight: bold;
}

.flightTable {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: black solid 3px;
    box-shadow: 1px 1px 10px;
}

.tr {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    text-decoration: none;
    color: black;
}

.td button {
    padding: none;
    border: none;
    background: none;
    color: red;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

a.flightLink {
    cursor: pointer;
}

a.flightLink:hover>.td {
    background-color: #c3fffa;
}

.flightTable .th, .flightTable .td {
    flex: 1;
    border-right: #000000 dashed 1px;
    border-bottom: black solid 0.5px;
    border-top: black solid 0.5px;
    display: flex;
    flex-direction: column;
    padding: 16px 16px;
}
.flightTable .th:last-child, .flightTable .td:last-child {
    border-right: none;
}

.flightTable .th {
    font-size: 18px;
}

.flightTable .tr:nth-child(even) {
    background-color: #ffffff;
}
.flightTable .tr:nth-child(odd) {
    background-color: #e0e0e0;
}
.flightTable .tr:first-child {
    background-color: #b8c545;
}

.header {
    width: 100%;
    flex-basis: 96px;
    display: flex;
    align-content: space-between;
    align-items: center;
    flex-direction: row;
}

img.ff-logo {
    flex: 0.25;
    padding: 0, 32px;
}

div.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    flex: 0.75;
}

.navButton {
    background-color: white;
    color: black;
    font-size: 1.5em;
    text-align: center;
    line-height: 40px;
    padding: 4px 32px;
    margin: 0 32px;
    text-decoration: none;
    border: black solid 1px;
    border-radius: 10px;
    box-shadow: black 1px 1px 10px;
    cursor: pointer;
}

.navButton:hover {
    background-color: #b9b9b9;
}

.message {
    display: flex;
    font-size: 1.5em;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 12px;
    align-self: center;
}