.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 0 1 auto;
    padding: 50px;
}

.navigation_content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 50px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: black 1px 1px 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.day {
    text-align: center;
    font-weight: bold;
}

.leg {
    border-bottom: 1px dashed black;
    padding-bottom: 25px;
    padding-top: 25px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.leg:last-child {
    border-bottom: none;
}

@media print {
    .header, .navigation, .flightQuery {
        display: none;
    }
    @page 
    {
        size: landscape;
        margin: 0;
    }
}